maxapi @ git+https://github.com/max-messenger/max-botapi-python.git@4a286baa06d38f2db9f7244d94f89508743f8fee
aiohttp==3.14.3
yarl==1.25.1
environs==14.6.0
pydantic==2.13.5
SQLAlchemy[asyncio]==2.1.1
aiosqlite==0.22.1
aiofiles==24.1.0
Pillow==12.3.0
yandex-ai-studio-sdk==0.22.1
fastapi==0.141.1
uvicorn==0.54.0
psycopg==3.3.6
psycopg-binary==3.3.6
tzdata==2026.4
